.userInfo{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 575px;
  height:auto;
  margin: none;
  text-align:left;
  justify-content: space-between;
  font-size: calc(16px + 1vmin);
  padding: 5px;
}

.fieldData{
  width:50%;
  text-align: left;
}


@media only screen and (max-width: 768px){
  .userInfo{
    flex-direction: column;
    width: 100%;
  }
  .fieldData{
    width: 100%;
    text-align: center;
  }
}

.userInfoLabel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: left;
  font-size: calc(12px + 1vmin);
  margin-top: 10px;
  margin-bottom: 0px;
}

