@import url(config.css);


/* do not change*/
@font-face {
    font-family: header-font;
    /* route to font for header in fonts */
    src: url("./fonts/BebasNeue-Regular.ttf")format("woff2");
}


/**
  Page sections 
 */
body{
  background: linear-gradient(to top, var(--gradient), var(--background-color) var(--gradient-height));
  text-align: center;
  max-width: var(--max-width);
  margin: auto;
  height: 100vh;
}

#root{
  height:100vh
}

.App{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height:100%
}


.appHeader {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: var(--nav);
  color: var(--theme-color);
  font-family: header-font;
  font-weight: var(--nav-weight);
  font-style: normal;
  background-color: transparent;
  padding-top: 10px;
  padding-right: calc(5px + 2vmin);
  padding-left: calc(5px + 2vmin);
  height: 11vh;
  width: 100%;
  max-width: var(--max-width);
}

.twoWord {
  padding-right:0.2em;
}

/* Nav */

ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin:0%;
  width: 80%;
  padding:0%;
}

li{
  display: flex;
  width: var(--nav-item-width);
  max-width: 150px;
  min-width: fit-content;
  align-items: center;
  padding-right: 2px + 2vmin
}

a.noAlign{
  vertical-align: bottom;
  flex-direction: row;
}

a.logo{
  display:flex;
  align-items: center;
}


a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--theme-color);
  text-decoration: none;
  width: 100%;
  cursor:pointer;
}

@media only screen and (max-width: 768px){
  a{
    flex-direction: column;
  }
}

a:hover{
  text-decoration: none;
  color: var(--link-hover)
}

a.navItem{
  padding: 1vmin
}

figure{
  display: flex;
  align-items: center;
  justify-self: flex-end;
  margin:auto;
  width: 100%;
  margin: 0%;
  padding: 1vmin;
}

.navlogo{
  height: var(--logo-height);
}


.currentPage{
  display:flex;
  flex-direction: column;
  align-content: center;
  max-width: var(--max-width);
  height: 75vh;
  padding: 5px;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1{
  margin-top: 10px;
  margin-bottom: 0px;
  text-align:center;
  font-weight: var(--header-weight);
  font-size: var(--header);
  letter-spacing: var(--header-letter-spacing);
  font-family: header-font;
  color: var(--theme-color);
  margin-left: 1.5vmin;
}

.info{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: var(--current-page-max-width);
  margin: auto;
  margin-bottom:0%;
  margin-top:0%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  border: var(--border);
  border-radius: 3px;
  padding: 1vmin;
}

@media only screen and (max-width: 414px){
  .info{
    width: 100%;
  }
}

.buttons{
  height:fit-content;
  margin: auto;
}


.footer{
  flex: 1;
  font-size: var(--footer);
  color: var(--theme-color);
  font-family: header-font;
  font-weight: var(--footer-weight);
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 5px;
}

/* Below section changes color for bootstrap buttons */

.btn-success, .btn-success.disabled, .btn-success:disabled{
    color: var(--btn-text-color);
    background-color: var(--btn-success-color);
    border-color: var(--btn-success-color);
}

.btn-success:hover, .btn-success.hover {
  background-color: var(--btn-success-color-hover);
}

.btn-outline-success{
  color: var(--btn-success-color);
  background-color: var(--btn-text-color);
  border-color: var(--btn-text-color);
}

.btn-outline-success:hover, .btn-outline-success.hover {
  color: var(--btn-success-color-hover);
}

.btn-secondary{
    color: var(--btn-text-color);
    background-color: var(--btn-secondary-color);
    border-color: var(--btn-secondary-color);
}

.btn-secondary:hover, .btn-secondary.hover {
  background-color: var(--btn-secondary-color-hover);
}

.btn-outline-secondary{
    color: var(--btn-secondary-color);
    background-color: var(--btn-text-color);
    border-color: var(--btn-text-color);
}

.btn-outline-secondary:hover, .btn-outline-secondary.hover {
  color: var(--btn-secondary-color-hover);
}

.btn-danger{
    color: var(--btn-text-color);
    background-color: var(--btn-danger-color);
    border-color: var(--btn-danger-color);
}

.btn-danger:hover, .btn-danger.hover {
  background-color: var(--btn-danger-color-hover);
}

.btn-outline-danger{
    color: var(--btn-danger-color);
    background-color: var(--btn-text-color);
    border-color: var(--btn-text-color);
}

.btn-outline-danger:hover, .btn-outline-danger.hover {
  color: var(--btn-danger-color-hover);
}

.btn.disabled, .btn:disabled{
  opacity: .65;
}

